<form [formGroup]="simpleForm" autocomplete="off">
    <div class="container" *ngIf="!switchOff">
        <h5>Reactive Form Example</h5>
        <div class="row">
            <div class="col">
                <tech-datepicker formControlName="simpleField1"
                    label="Simple Field 1"
                    [useUtc]="true"
                    [isBrowserTimezone]="false">
                </tech-datepicker>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <tech-datepicker formControlName="simpleField2"
                    label="Simple Field 2"
                    [useSystemTimezone]="true"
                    [isBrowserTimezone]="false">
                </tech-datepicker>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <tech-datepicker formControlName="simpleField3"
                    label="Simple Field 3">
                </tech-datepicker>
            </div>
        </div>
    </div>
</form>

<div>
    <h1>Result Date</h1>
    <textarea style="height: 250px; width: 500px;">{{simpleForm.value | json}}</textarea>
</div>

<div>
    <h1>Load Data</h1>
    <textarea style="height: 250px; width: 500px;" [(ngModel)]="loadingData"></textarea>
    <button (click)="loadData()">loadDate()</button>
</div>