
<accordion closeOthers="true" isAnimated="true">
    <accordion-group heading="Layout">
        <div class="container">
            <h5>Layout</h5>
            <div class="row">
                <div class="col">
                    <tech-text-input></tech-text-input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <tech-text-input 
                        label="Testing Label">
                    </tech-text-input>
                </div>
            </div>
        </div>
    </accordion-group>
    <accordion-group heading="Example 1: Reactive Form" [(isOpen)]="isOpen">
        <design-text-input-reactive-form-example1></design-text-input-reactive-form-example1>
    </accordion-group>
</accordion>
